*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.container{
   
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;

}

.gallery img{
    width: 100%;
}

.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;  
    cursor: pointer;
  
  }
  
  span{
    color: red;
  }
  @media screen and (min-width: 375px) {
    span{
      color: rgb(255, 0, 0);
    }
  }

  footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: #181717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
  }

.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    padding: 35px;
    font-family: 'roboto', sans-serif ;

}

.wrapper h1{
    font-size:3em ;
    margin-bottom: 15px;
    padding: 5px 15px;
}

.service-box{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 35px;
}

.card{
    min-height: 220px;
    width:300px ;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    background: #fff;
    margin: 10px 5px;
    transition: 0.3s;
}

.card i{
    margin-bottom: 20px;
    color: red;
}

.card h2{
    margin-bottom: 10px;
    text-align: center;
}

.card p{
    color: rgba(114, 7, 114, 0.8);
    text-align: center;
}

.card:hover{
    background: linear-gradient(90deg, 
    rgba(2,2,36,0.7) 0%,
    rgba(9, 9, 221, 0.7) 35%,
    rgba(0, 212, 255, 0.7) 100%),
    url('Gallery/why-kei-8e2gal_GIE8-unsplash.jpg');
    opacity: 0.8s;
    color: #fff;
}

.card:hover p{
    color: #fff;

}
.card i {
    color:#fff
}

@media(max-width: 991px){
    .wrapper h1{
        font-size: 2.5rem;
    }
    .wrapper p{
        padding: 5px 15px;
    }
    .service-box{
        flex-direction: column;
        width: 100%

    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.contact .content p{
    font-weight: 300;
    color: black;
}

.contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.contain .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contain .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contain .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contain .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(7, 7, 7);
    flex-direction: column;
    font-weight: 300;
}

.contain .contactInfo .box .text h3{
    font-weight: 500;
    color: black;
    
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: transparent;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    color: rgb(24, 23, 23);
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;

}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    
  }
  
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span
  {
    color: #1f1e1e;
    font-size: 12px;
    transform: translateY(-20px);
  }


  .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #1d1b1b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  
  }

  @media (max-width : 991px){
    .contact{
      padding: 50px;
    }
    .containers{
      flex-direction: column;
    }
    .contact .contactInfo{
      margin-bottom: 40px;
    }
    .containers .contactInfo,
    .contactForm{
      width: 100%;
    }
  }

@media(max-width: 991px){
    .wrapper h1{
        font-size: 2.5rem;
    }
    .wrapper p{
        padding: 5px 15px;
    }
    .service-box{
        flex-direction: column;
        width: 100%

    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }
}

@media(max-width: 991px){
    .contactForm{
        padding: 50px;
    }
    .contain{
        flex-direction: column;

    }
    .contain .contactInfo{
        margin-bottom: 40px;
    }

    .contain .contactInfo .contactForm{
        width: 100%;
    }
}



